<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-10">
            <img class="img-responsive" src="images/aboutus.jpg">
        </div>
        <div class="col-md-6">
            <h2>WHO WE ARE</h2>

            <p>Insignis Software is one of the experienced web development organizations in IT industry, having In-House Operation and Quality Services, deliver superior returns to clients through its cost-effective, high-value services model. Insignis Software services cover the gamut of requirements of companies in various industries requiring outsourced development processes. The company stands ahead for its brilliant work in the field of Web site development, Web application development, Graphic designs, Flash animation as well as Administrative support. Insignis Software promote and sponsor the development of unique website ideas which could be turned into self revenue-generating websites. For such concept-based projects, we first research the business domain, study the market and perform detailed cost-benefit analysis. If our team is convinced of the concept's viability then we plan, design, develop and implement such projects for our customers.
            </p>
        </div>

    </div>

</div>
<!-- /.container -->
