<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Mission
                    <small>It's Nice to Meet You!</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Mission</li>
                </ol>
            </div>

        </div>

        <div class="row">

            <div class="col-md-10">
                <img class="img-responsive" src="images/MISSION.jpg">
            </div>
            <div class="col-md-6">
                <h2>Mission</h2>

                <p>As a provider of software solution, Insignis Software seeks to deliver the products and services required to support the strategic objectives of our client organizations. Insignis Software is to make technology an asset for your business. We strive to make technology integrate seamlessly with your business, therefore, we will work hand in hand with you to support your growth. We are looking to provide to our customer platforms to run their business, support their operation and develop/design custom software as needed.            </p>
            </div>

        </div>

</div>
<!-- /.container -->